body {
  background-color: aqua;
}
:root{
  --color-primary:hwb(65 82% 8%) ;
  --color-secondary: #3498db;
  --color-danger: #27ae60;
  --text-color:rgb(22, 10, 10);
  --border-radius: 8px;
  --padding: 10px  20px;
}
.btn {
  border: none;
  padding: var(--padding);
  font-family: var(--font-base);
  font-size: 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  color: var(--text-color);
}
.btn.primary {
  background-color: var(--color-primary);
  
}

.btn.secondary {
  background-color: var(--color-secondary);
  
}

.btn.danger {
  background-color: var(--color-danger);
}

.btn:hover {
  transform: scale(1.03);
}
.btn.focus {
    outline: 2px dashed #2c3e50;
}
.card {
  max-width: 500px;
  border: 1px solid chocolate;
  background-color: hsl(320, 82%, 38%);
  padding:1rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px hsl(310, 79%, 52%);
  overflow: hidden;
  animation:faIn 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  margin: 1rem auto;
}

car.imag {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid darkgoldenrod;
}

@keyframes fadeIn {
    from {opacity: 0;transform: translateY(20px);}
    to {opacity: 1;transform: translateY(0);}
}
.form-group {
  margin: auto;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  max-width: 400px;

}

.form-label {
  display: grid;
  font-weight: bold;
}

.form-input, .form-select, .form-textarea {
  width: 100%;
  padding: var(--spacing-sm);
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  font-family: var(--font-base);
  font-size: 1rem;
}

.form-input:focus, .form-group textarea:focus{
    border-color: var(--color-primary);
    outline: none;
    box-shadow: 0 0 0 3px #ec1a1a;
}

.form-checkbox {
  margin-right: var(--spacing-sm);
}
@media (min-width:600px) {
    .form-group{
        grid-template-columns: 1fr 1fr;
    }
    .form-group textarea{
        grid-column: span 2 ;
    }

}

.navbar {
  display: flex;
  align-items: baseline;
  padding: var(--spacing-sm) var(--spacing-md);
  background-color:hwb(214 28% 1%);
  padding: var(--padding);
  color: hsl(320, 94%, 25%);
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  color: var(--text-color);
}
.logo{
  color:hsl(310, 96%, 18%);
  font-weight:bolder;
  font-size: 1.2rem;
}

.nav-links{
  list-style:circle;
  gap: 1rem;
  
}
.nav-links a {
  color: aqua;
  text-decoration: navy;

}

@media (max-widht:200px){
  .menu-icon{
    display:flex;
  }
}
.toggle {
    display: block;
    cursor: pointer;
  }
  .modal {
  position:absolute;
  border-radius: var(--border-radius);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;

}

.modal--open {
  display: flex;
}

.modal__content {
  background: white;
  padding: var(--spacing-lg);
  border-radius: var(--border-radius);
  width: 50%;
  max-width: 400px;
  position:fixed;
}

.modal__close {
  position: absolute;
  top: var(--spacing-sm);
  right: var(--spacing-sm);
  cursor: pointer;
  font-size: 1.6rem;
}



